@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}
.gradient-text {
  background: linear-gradient(90deg, #fff, #ccc); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.section-animation {
  position: relative;
  padding-bottom: 20px; 
 
}
.section-animation::after {
  content: ''; 
  position: absolute; 
  bottom: 0px;
  left: 50px; 
  margin: 0 auto;
  width: 0; 
  height: 1px; 
  background-color: white; 
  transition: width 0.5s ease;
}

/* Çizgi animasyonu */
@keyframes drawLine {
  to {
    width: calc(100% - 100px); 
  }
}


.section-animation::after {
  animation: drawLine 1s forwards; 
}
