@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}
.dark body{
  background-color: #fff;
}
.gradient-text {
  background: linear-gradient(90deg, #fff, #ccc); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.dark .gradient-text {
  background: linear-gradient(90deg, #fff, #ccc); /* Gradient stillerini koyu modda da koruyun */
  -webkit-background-clip: text;
  -webkit-text-fill-color: #000; /* Koyu modda metin rengini siyah yapın */
}
.section-animation {
  position: relative;
  padding-bottom: 20px; 
 
}
.section-animation::after {
  content: ''; 
  position: absolute; 
  bottom: 0px;
  left: 50px; 
  margin: 0 auto;
  width: 0; 
  height: 1px; 
  background-color: white; 
  transition: width 0.5s ease;
}
.dark .section-animation {
  position: relative;
  padding-bottom: 20px; 
 
}
.dark .section-animation::after {
  content: ''; 
  position: absolute; 
  bottom: 0px;
  left: 50px; 
  margin: 0 auto;
  width: 0; 
  height: 1px; 
  background-color: black; 
  transition: width 0.5s ease;
}
.dark .change-my-color {
  fill: black;
}

/* Çizgi animasyonu */
@keyframes drawLine {
  to {
    width: calc(100% - 100px); 
  }
}


.section-animation::after {
  animation: drawLine 1s forwards; 
}
body,html{
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #1e1e1e;
}

body::-webkit-scrollbar-thumb {
  background-color: #DE4C36;
  border-radius: 10px;
}
/* styles.css */
/* Menu Slide In */
.menu-enter {
  transform: translateX(100%);
}
.menu-enter-active {
  transform: translateX(0);
  transition: transform 500ms ease-in-out;
}
.menu-exit {
  transform: translateX(0);
}
.menu-exit-active {
  transform: translateX(100%);
  transition: transform 500ms ease-in-out;
}
/* Dark mode için stiller */
body.dark {
  background-color: #fff;
  color: white;
}

