@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}
.gradient-text {
  background: linear-gradient(90deg, #fff, #ccc); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.section-animation {
  position: relative;
  padding-bottom: 20px; 
 
}

/* Alt çizgiyi tanımlama */
.section-animation::after {
  content: ''; /* Pseudo elementi içeriği */
  position: absolute; /* Konumlandırma */
  bottom: 50px; /* Altta */
  left: 50px; /* Solda */
  margin: 0 auto;
  width: 0; /* Başlangıçta genişlik sıfır olacak */
  height: 1px; /* Yükseklik (çizgi kalınlığı) */
  background-color: white; /* Çizgi rengi */
  transition: width 0.5s ease; /* Geçiş efekti */
}

/* Çizgi animasyonu */
@keyframes drawLine {
  to {
    width: calc(100% - 100px); /* 100% genişlik */
  }
}

/* Çizgi animasyonunu çalıştırma */
.section-animation::after {
  animation: drawLine 1s forwards; /* Animasyonu çalıştırma */
}
